# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [2]:
a = [1, 2, 3, 4, 5, 6]
new_list = a[-1:-4:-1]
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python

In [3]:
# create a list of numbers from 1 to 20
list_1 = list(range(1,21,1))

In [2]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

list_2 = list(range(2,101,2))

In [1]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second

def divide(num1, num2):
    r = num1 / num2
    return r

SyntaxError: invalid syntax (1834639675.py, line 4)

In [ ]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number



nums = list(range(1,31,1))

for num in nums:

    if num % 3 == 0 and num % 5 == 0:
        print("fizzbuzz")

    elif num % 3 == 0:
        print("fizz")

    elif num % 5 == 0:
        print("buzz")

    else:
        print(num)

In [ ]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

ahmoPricing = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}

In [3]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial

import pandas as pd

df = pd.rea_csv("starbucks.csv")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# select all rows with more than and including 400 calories

df["calories"] > 400

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

df[ df["vitamin c"] > df["iron"] ]

In [ ]:
# create a new column containing the caffeine per calories of each drink

df["caffeine_per_calories"] = df["caffeine"] / df["calories"]

In [ ]:
# what is the average calorie across all items?

df["calories"].mean()

In [ ]:
# how many different categories of beverages are there?
print(df["beverage"].unique())

In [ ]:
# what is the average # calories for each beverage category?

beverage_category = df.groupby("beverage")

print(beverage_category["calories"].mean())